<!DOCTYPE html>
<html data-ng-app="musicGraph" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music Graph</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
	<!--<link type="text/css" href="js/lib/jit/Examples/css/base.css" rel="stylesheet" />-->
	<!--<link type="text/css" href="js/lib/jit/Examples/css/RGraph.css" rel="stylesheet" />-->

    <!-- libraries -->
	<script type="text/javascript" src="js/lib/jquery.js"></script>
    <script type="text/javascript" src="js/lib/d3.js"></script>
	<script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/jsonc.js"></script>
    <script type="text/javascript" src="js/lib/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="js/lib/lastfm.api.js"></script>
    <script type="text/javascript" src="js/lib/lastfm.api.cache.js"></script>
	
	<!-- src -->
	<script type="text/javascript" src="js/app.js"></script>
	
	<!-- http://bl.ocks.org/mbostock/929623 -->
	<!-- http://www.ms-ds.com/our-thinking/insights/6-great-interactive-data-visualization-tools-part-2#anchor_infovis -->

</head>
<body data-ng-controller="MusicGraphController as mgc">
    <div class="content-main">
		<h1>Music Graph</h1>
    </div>
	
	<div id="graph" style="align: center"></div>
	
	<div>
		<input type="text" ng-model="newArtist"/><button ng-click="addArtist(newArtist)">Add</button>
        </br>
        <span>save string</span><input type="text" ng-model="saveString"/><button ng-click="loadGraph()">Load</button>
    </div>

</body>
</html>